
button {
  background-color: #47525E;
  border: none;
  border-radius: 3px;
  width: 140px;
  height: 50px;
  color: white;
  font-size: 18px;

  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
